# POSTGRESQL
# Данные указаны по умолчанию, вводить нужно указанные при скачивании PostgreSQL

# Username: по-умолчанию postgress
POSTGRES_USER=postgres
# Password: по-умолчанию postgress
POSTGRES_PASSWORD=postgress
# DB-name: название базы данных
POSTGRES_DB=library
# DB-Server: название сервера, для локального запуска localhost
POSTGRES_SERVER=localhost
# DB-Port: по-умолчанию 5432
POSTGRES_PORT=5432